.bodyWelcome
{
	background-image: url('../img/fondoEdificiosRosa.jpg');
	background-position: center;
	height: 600px;	
}
.bodyNav1
{
	background-image: url('../img/fondoEdificiosWhite.jpg');
	background-position: center;
	height: 600px;	
}
.bodyUsers, .bodyAbout
{
	background-color: #bdbef6;
	background-position: 10% 20%;
	height: 600px;	
}

.iconUser
{
	width: 100%;	
	opacity: 0.1;
}
.iconUser:hover
{
	transition: all 1s;
	opacity: 1;
	cursor: pointer;
}

.logoGif
{		
	filter:blur(6px);
	opacity: 0.4;
	cursor: pointer;
}
.logoGif:hover
{
	filter:blur(0px);
	transition: all 0.4s;
	opacity: 1;	
}

.logoGifPeque
{
	filter:blur(6px);
	opacity: 0.4;
	cursor: pointer;
	width: 40%;
	height: 75%;
}
.logoGifPeque:hover{
	filter:blur(0px);
	transition: all 0.4s;
	opacity: 1;	
}

.fontGif
{
	font-size: 15px;
	color: #199bea;
}
.fontGif:hover
{
	font-size: 17px;
	transition: all 0.4s;
	color: #4726db;
}